@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";


html,
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}


/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}


:root {
  --background: #f6feff;
  --background-dark: #e0f8fd;
  --text-primary: #1a1a1a;
  --text-secondary: #676767;
  --accent: #0058b5;
  --accent-dark: #003e90;
  --accent-light: #e8f0ff;
  --accent-light-hover: #ccdcfc;
  --accent-hover: #d5e2fc;
  --highlight: #0061f1;
  --highlight-light: #5499ff;

  --shadow-card: 0 10px 32px rgb(48, 103, 147, 1);
  --shadow-image: 0 10px 32px rgb(0, 32, 48, 1);

}