@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

:root {
  --background: #f1fdff;
  --text-primary: #1a1a1a;
  --text-secondary: #676767;
  --accent: #0058b5;
  --accent-dark: #003e90;
  --accent-light: #e8f0ff;
  --accent-light-hover: #ccdcfc;
  --highlight: #0061f1;

  --shadow-card: 0 8px 20px rgb(119, 223, 255);
  --shadow-image: 0 8px 20px rgb(0, 32, 48);

}
